:root {
  --color-primary: #D9A296;
  --color-secondary: #383838;

  --font-primary: "Ibarra Real Nova", serif;
  --font-secondary: Montserrat, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h2, h5, h6 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  font-weight: normal;
}

h3, h4 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  font-weight: normal;
}

a {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: normal;
}

ul, ol, li, dl, dt, dd {
  font-family: var(--font-primary);
  color: var(--color-secondary);
}

blockquote, cite {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  font-weight: normal;
}
