:root {
  --color-primary: #D9A296;
  --color-secondary: #383838;

  --font-primary: "Ibarra Real Nova", serif;
  --font-secondary: Montserrat, sans-serif;
  --font-secondary-reg: Montserrat, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  font-weight: normal;
}

h2 {
  font-family: var(--font-secondary-reg);
  color: var(--color-primary);
}

h3 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h4 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h5 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h6 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

a {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  text-decoration: none;
}
