.btn {
  background-color: var(--color-primary-light);
  color: #fff;
}

.btn:hover {
  background-color: var(--color-primary);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-primary-light);
}

.btn-ghost:hover {
  color: var(--color-secondary);
}

.btn-light {
  background-color: var(--color-primary-light);
  color: #fff;
}
