.icons:hover, .link:hover {
  color: var(--color-primary);
}

.icons, .link {
  color: var(--color-secondary);
}

.current .link {
  color: var(--color-primary);
}

@media only screen and (min-width: 60em) {

  .icons {
    float: right;
  }

}
