.link {
  color: var(--color-primary);
}

.link:hover {
  color: var(--color-secondary);
}

.link:current {
  font-weight: bold;
}

.next-page {
  background-color: var(--color-primary-light);
  color: #fff;
  border: none;
  text-align: center;
}

.next-page:hover {
  background-color: var(--color-secondary);
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .next-page {
    float: right;
  }


}
