.link {
  color: var(--color-primary);
}

.link:hover {
  color: var(--color-secondary);
}

.link:current {
  font-weight: bold;
}

.next-page {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
}

.next-page:hover {
  background-color: var(--color-secondary);
  color: #fff;
}
