.border {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: bold;
  border-bottom: 2px solid var(--color-primary);
}

h3 {
  color: var(--color-secondary);
}

.text {
  font-family: var(--font-primary);
}

.border-not-bold {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

h2 {
  color: var(--color-primary);
}

table {
  font-family: var(--font-secondary);
}

th {
  color: var(--color-primary);
  font-weight: normal;
}

td {
  color: var(--color-secondary);
  font-weight: normal;
}

td, th {
  border: none;
  vertical-align: middle;
}

.border {
  border-bottom: solid 1px var(--color-primary);
}

img {
  border-radius: 25px;
}
