.product-card {
  text-align: center;
}

.border {
  border-bottom: 2px solid;
  border-color: var(--color-primary);
}

.product-card p {
  font-family: var(--font-secondary);
  border-radius: 50px;
}

.category-card img {
  position: absolute;
  border-radius: 50px;
  max-width: 50em;
}

.category-card h2 {
  position: relative;
  top: 20em;
  left: 10em;
}
