.product-card {
  text-align: center;
}

.border {
  border-bottom: 2px solid;
  border-color: var(--color-primary);
}

.product-card p {
  font-family: var(--font-secondary);
}

.category-card img {
  position: absolute;
  border-radius: 70px;
  width: 100px;
  height: 100px;
}

.category-card h2 {
  position: relative;
  top: 10px;
}
