<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Pen and Paper</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,400i,700|Montserrat:400,500,700&display=swap" rel="stylesheet">
</head>
<ul class="skip-links">
  <li><a href="#main">Jump to main content</a></li>
  <li><a href="#nav">Jump to navigation</a></li>
</ul>
<body>

  {% pattern header/header %}
  {{content}}
  {% pattern footer/footer %}

</body>
</html>
