---
layout: default
---

{% pattern sections/product-info data=product %}
<div class="grid">
  <div class="unit xs-1 s-1 m-1 l-1 xl-1 push gutter">
    <a href="/products/" class="link"><i class="icon i-18"><svg><use xlink:href="/images/icons.svg#back-icon"></use></svg></i>Planners</a>
  </div>
  <div class="unit xs-1 s-1 m-1 l-1-2 xl-1-2 push gutter">
    <img src="{{page.image}}" alt="" class="img-flex product-image">
  </div>
  <div class="unit xs-1 s-1 m-1 l-1-2 xl-1-2 push-1-4 gutter">
    <h1 class="push-1-4">{{page.name}}</h1>
    <div class="border push">
    </div>
    <h2 class="push-1-2">{{page.price}}</h2>
    <p class="push">{{page.description}}</p>
    <div class="push">
      {% pattern forms/quantity %}
    </div>
    {% pattern buttons/basic text="Add to cart" url="/checkout/" %}
    <div class="push">
      {% pattern sections/product-details %}
    </div>
  </div>
</div>
