.banner .h1, .p {
  color: var(--color-secondary);
  font-weight: normal;
  font-family: var(--font-secondary);
}

.banner-image {
  border-radius: 0;
}

.banner {
  position: relative;
}

.banner-content {
  position: absolute;
  top: 14em;
}

@media only screen and (min-width: 25em) {

.banner-content {
  top: 17em;
}

@media only screen and (min-width: 38em) {

.banner-content {
  top: 15em;
  right: 5em;
}

}

@media only screen and (min-width: 60em) {

.banner-content {
  top: 11em;
}

}

@media only screen and (min-width: 90em) {

.banner-content {
  top: 17em;
}

}
