.banner .h1, p {
  color: var(--color-secondary);
  font-weight: normal;
  font-family: var(--font-secondary);
}

.banner-image {
  border-radius: 0;
}

@media only screen and (min-width: 38em) {

.banner {
  position: relative;
}

.banner-content {
  position: absolute;
  top: 5em;
  right: 5em;
}

}
